body {
  margin: 0;
}

.canvas-widgets {
  position: fixed !important;
  display: block;
  height: calc(100% - 60px);
  left: 0;
  width: 300px;
  z-index: 100;
  position: absolute;
  overflow-y: auto;
}

.canvas-toolbar {
  position: fixed;
  padding-left: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  /* ความสูงของ footer */
  display: block;
  text-align: center;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.widget-item {
  background-color: #1C1B20;
}

.title {
  color: white;
}


.ant-input-affix-wrapper .ant-input {
  min-height: 0px !important;
}