.canvasWidgets {
  position: fixed !important;
  display: block;
  height: calc(100% - 30px);
  left: 0;
  // width: 300px;
  z-index: 100;
  position: absolute;
  overflow-y: auto;
  background: #1C1B20;
  color: #FFF;
}

.widgetsItem {
  color: #FFF;
}

.widgetsList {
  overflow: auto;
}

.widgetItem {
  background: #1C1B20;
  color: #FFF;
}


.widgetIcon {
  &:hover {
    cursor: pointer;
    // border: 2px solid rgb(157, 203, 109);
    // border-radius: 50px;
  }
}
