.canvasWidgets {
  position: fixed !important;
  display: block;
  height: calc(100% - 60px);
  left: 0;
  width: 300px;
  z-index: 100;
  position: absolute;
  overflow-y: auto;
}

.widgetsList {
  overflow: auto;
}

.widgetItem {
  background: #1C1B20;
  color: #FFF;
}
